body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/mSa7QYO.jpg);
    position: absolute;
    z-index: -999;
}

html{
    min-height: 100%
}

.typing {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center; 
}

h1 {
    font-family: Consolas, sans-serif;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: #EC6F66;
}

/* i:hover{
    color:#F3A183;
} */

/* @keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.10);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
/* 
.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}