body {
    margin: 0;
    padding: 0;
}



h1 {
    font-family: 'Abel',
    sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

h3 {
 font-family: 'Abel',
 sans-serif;
 margin-top: 0;

}


.interests p{
  font-family: 'Abel',
  sans-serif;
  font-size: 3em;

}

.interests-wrapper{
display: flex;
flex-direction: wrap;
justify-content: center;
align-items: center;
}


.brand {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
}

.nav i:hover {
    color: white;
}

i {
    text-decoration: none;
    color: black;
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap; */
    margin: 10px;
   
}

nav a{
  font-size: 1.5em;
    font-family: 'Abel',
    sans-serif;
    text-decoration: none;
    color: black
   
}


 a {
    text-decoration: none;
    font-family: 'Mukta Mahee', sans-serif;
    margin: 10px
}

header {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to right, #F3A183, #EC6F66);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.statement {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background: linear-gradient(to right, #F3A183, #EC6F66);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.social-nav i:hover{
color: white;

}

.projects {
    height: 200vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.picture {
    height: 100vh;
    width: 100vw;
    background-image: url("https://i.imgur.com/hsTq4c2.jpg?1");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.interests {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}


/* icons */

/* .interests-wrapper .flaticon-dress
font-size: 2em; */




footer {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to top, #F3A183, #EC6F66);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    align-items: center
}






.copy {
    margin-left: 20px;
}

.nav {
     /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-right: 30px;
    margin-bottom: 10px 
}

nav {
    margin-right: 50px;
}

/* MEDIA */

/* main page */
/*  */
@media screen and (max-width: 650px) {
    .statement,  {
        flex-direction: column;
    }
}

/* @media screen and (max-width) */