body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



h1 {
    font-family: 'Abel',
    sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

h3 {
 font-family: 'Abel',
 sans-serif;
 margin-top: 0;

}

h2 {
 font-family: 'Abel',
 sans-serif;
 width: 50%;
 text-align: center;

}

.quote p{
  font-family: 'Abel',
  sans-serif;
  font-size: 3em;

}

.work{
     font-family: 'Abel',
     sans-serif;
     font-size: 3em;
}

.quote {
display:flex;
align-items:center;
justify-content: center;

}

.rowone-wrapper >div p {
display: flex;
justify-content: center;
align-items: center;
margin-left: 20px; 
font-family: 'Abel', sans-serif;
  font-size: 1em;
}


.rowone-wrapper{
display: flex;
flex-direction: wrap;
justify-content: center;
align-items: center;
margin: 0 40px 30px 0;
}


.rowtwo-wrapper {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 0;
     font-family: 'Abel',
     sans-serif;
     font-size: 1em;
    
}

.rowtwo-wrapper>div p {
    display: flex;
    justify-content: center;
    align-items: center;
     font-family: 'Abel',
     sans-serif;
     font-size: 1em;
}

.skills-one{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
      margin: 20px 20px 20px 0;
      font-family: 'Abel',
      sans-serif;
      font-size: 1em;
}

.brand {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
}

.nav i:hover {
    color: white;
}

i {
    text-decoration: none;
    color: black;
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap; */
    margin: 10px;
   
}

nav a{
  font-size: 1.5em;
    font-family: 'Abel',
    sans-serif;
    text-decoration: none;
    color: black
   
}


 a {
    text-decoration: none;
    font-family: 'Mukta Mahee', sans-serif;
    margin: 10px
}

header {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to right, #F3A183, #EC6F66);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.statement {
    min-height: 80vh;
    min-width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background: linear-gradient(to right, #F3A183, #EC6F66);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.social-nav i:hover{
color: white;

}



.projects {
    min-height: 130vh;
    min-width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}


 .projects-container-one {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
 .projects-container-two {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }


img {
    width: 450px;
    height: 300px;

}

/* .container {
    position: relative;
     width: 450px;
     height: 300px;
     border-radius: 5%;
} 

 .container:hover .overlay {
    opacity: 1;
}

.image {
    display: block;
     width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 450px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */


.picture {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("https://i.imgur.com/hsTq4c2.jpg?1");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}



.interests {
    min-height: 60vh;
    min-width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}


footer {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to top, #F3A183, #EC6F66);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    align-items: center
}



.copy {
    margin-left: 20px;
}

.nav {
     /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-right: 30px;
    margin-bottom: 10px 
}

nav {
    margin-right: 50px;
}



 @media only screen and (max-width: 650px) {
    .statement{ 
        flex-direction: column;
        
    
}
 .brand {
font-size: 1em;
} 

nav a{
    font-size: 1.0em;
    margin: 5px;
}

nav{
    display: flex;
    flex-direction: row;
}

.nav{
    display: flex;
    flex-direction: row;
}
header{
width: 100vw;
height: 10vh;
background: linear-gradient(to right, #F3A183, #EC6F66);
display: flex;
justify-content: space-between;
align-items: center
}

.statement {
    height: 80vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background: linear-gradient(to right, #F3A183, #EC6F66);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  img {
      height: 250px;
      width: 300px;
  }



 } 

@media screen and (max-width: 650px) {
    img {
        height: 250px;
        width: 300px;
    } 

}

